<section class="top-header">
<!--  <div class="container">-->
  <div class="row">
    <div class="col-1">
      <div class="logo-tix">
        <img src="https://tix.vn/app/assets/img/icons/web-logo.png" alt="logo-tix">
      </div>
    </div>
    <div class="col-10">
      <div class="menu-top-header">
        <ul>
          <li><a href="#">Lịch chiếu</a></li>
          <li><a href="#">Cụm rạp</a></li>
          <li><a href="#">Tin tức</a></li>
          <li><a href="#">Ứng dụng</a></li>
        </ul>
      </div>
    </div>
    <div class="col-1">
      <div class="login">
        <img src="https://tix.vn/app/assets/img/avatar.png" alt="avatar-login-logo">
       <a href="#">Đăng nhập</a>
      </div>
    </div>
  </div>
<!--  </div>-->
</section>
